@charset "UTF-8";

.header {
    padding-left: 20px;
    background-color: #1dafec;
    border-bottom: 1px solid #cccdcd;
}

.header_logo {
    position: relative;
    height: 64px;
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
}

.header_logo > img {
    position: absolute;
    top: 20px;
}

.main {
    flex-grow: 1;
    width: 100%;
    background: url(../img/baikyaku-lp_pc/index_im01.png) no-repeat 50% 0;
}

.main_catch {
    width: auto;
    height: 596px;
}

.main_catch > .inner {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.heading1 {
    width: 960px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

.formBox {
    position: absolute;
    top: 8px;
    right: 0;
    margin: auto;
}

.topVisual__assessmentArea--inner {
    position: absolute;
    top: 90px;
    right: 0;
    width: 375px;
    background-color: #fff;
    padding: 60px 0 5px;
}

.topVisual__assessmentArea__ttl {
    position: absolute;
    top: -34px;
    right: 0;
}